<!DOCTYPE html>
<html lang="en">


<head>
  <title>Abhishek Kumar</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--    Used  Favicon-->
  <link rel="shortcut icon" href="static/pics/abhi_logo.png" type="image/x-icon">
  <script src="https://kit.fontawesome.com/bd078e8e74.js" crossorigin="anonymous"></script>
  <!--    Used  CSS -->
   <link href="static/css/main.css" rel="stylesheet">
</head>

<body>
  <nav class="body_container body_container_ nav navbar">
    <div>
      <ul class="nav-items">
        <li><a href="index.html">Home</a></li>
        <li><a href="read_me.html">Read Me</a></li>
        <li><a href="meatType_prediction.html">Meat App</a></li>
        <li><a href="#" class="nav active-link">My CV </a></li>

      </ul>
    </div>
  </nav>
  <main>
    <header>
      <h1><strong>My All Projects and Experiences</strong></h1>
    </header>
    <section>
      <div>
        <h1>Experience</h1>
        <hr />
                    <div class="compName">
            <h3>Oracle America Inc. Aug2022- Present</h3>
          </div>
        <div class="experiences">
            <div class="desRole">
            <p>Designation– Sr. Site Reliability Engineer <br />
              Role- Software Architect / Product Manager
            </p>
          </div>
 <div class="resp">
            <h4 class="respHeader">
              Responsibility:
            </h4>
            <ul>
              <li>As a member of the Site Reliability Team, I am involved in developing and implementing the most up-to-date strategies and project planning initiatives aimed at ensuring the high availability of Oracle SAAS products.
              </li>
              <li>
                I am developing new data analysis tools to aid in planning and decision-making processes. These tools will enable us to better understand and interpret data, ultimately leading to more informed and effective decisions.
              </li>
           </ul>
          </div>
 <div class="compProjects">
            <h4 class="projectHeader">
              Projects:
            </h4>
            <h5>Dashboard Development</h5>
            <ul>
              <li>Created different charts to show the data pattern which is used to solve the product reported bugs quickly.</li>
              <li>Developed several workflow's and new process to implement Internal project helping thousands of Engineers. </li>
              <li>Researching on millions of records/data and developing the scripts to import and export data from different systems. </li>
            </ul>
 </div>
     <div class="compName">
            <h3>Oracle America Inc. Feb2017- Jul 2022</h3>
          </div>
          <div class="desRole">
            <p>Designation – Technical Analyst  <br />
              Role- Data Expert/ Subject Module Expert / Technical Lead
            </p>
          </div>

          <div class="resp">
            <h4 class="respHeader"> 
              Responsibility:
            </h4>
            <ul>
              <li>Directly working with Customers and helping them to close the Financial Period on time.
              </li>
              <li>
                Analyze the data pattern, developing the Data script. Subject Module expert Order to Cash flow (Account
                receivables).
              </li>
              <li>
                Point of contact for integration issues related to Oracle Receivables. I work with teams like Tax,
                Account
                Payable,
                Order Management, Costing /other teams of Oracle Financials.
              </li>
              <li>
                Dedicated to the issues which are not reproducible internally in Oracle instances. Working on source
                code,
                making
                debug patches and working with the customers to find the root cause.
              </li>
              <li>
                Fill the gap between Oracle Development and Customer using technical and functional knowledge of EBS.
              </li>
              <li> Work with the Oracle Automation team to enhance/develop Oracle Analyzers.
              </li>
              <li>
                Develop new PL/SQL Scripts to implement customer requirements/integration issues with EBS.
              </li>
            </ul>
          </div>
          <div class="compProjects">
            <h4 class="projectHeader">
              Projects:
            </h4>
            <h5>Development of Oracle Analyzers</h5>
            <ul>
              <li>Worked on the various signatures SQL to find the data corruptions.</li>
              <li>Corrected the existing signatures SQL to have better performance. </li>
              <li>Data modelling, Data analysis, Analyzer performance issues. </li>
            </ul>
            <h5>Technical Skill development
            </h5>
            <ul>
              <li>Technical Training Globally for Oracle Functional engineers across teams</li>
              <li>Given the training for Oracle Forms/Reports, SQL, RDBMS, PL/SQL </li>
            </ul>
            <h5>
              Project leader for the Development for Generic Data fix Framework and scripts.
            </h5>
            <ul>
              <li>Worked on the code and did the design and development for the utility package for the Generic data
                fix(reducing
                the 1200 general scripts & merging into 400+ Generic scripts)</li>
              <li>Leading team for developing more GDF scripts globally. 29 Engineers working in the project for
                Development, QA
                and other documentation work using the newly created Utility Package.</li>
            </ul>
            <h5>
              Special training for debugging skills
            </h5>
            <ul>
              <li>
                Given multiple trainings for Techno Functional engineers to debug the code (PL/SQL, FORMS, and REPORTS)
                globally.
              </li>
            </ul>
            <h5>
              Development Triage Team
            </h5>
            <ul>
              <li>
                Worked on complex service requests and filling the gap between Development and Support team.
              </li>
              <li>
                Specially worked on aged product issues which were not reproducible in Oracle instances, and helped
                Development team to find the root cause.
              </li>
            </ul>
          </div>
        </div>

        <div class="compName">
        <h3>Oracle India. Jan 2013- Jan 2017</h3>
        </div>

        <div class="experiences">
          <div class="desRole">
            <p>Designation – SR. Application Engineer <br />
              Role- Sr. Developer
            </p>
          </div>

          <div class="resp">
            <h4 class="respHeader">
              Responsibility:
            </h4>
            <ul>
              <li>Development of various projects in Receivables (Financials Module)</li>
              <li>Triaging the product bugs queue issues.</li>
              <li>Working on data issues related to the Account Receivables product</li>
              <li>Providing solution components to triaged bugs.</li>
              <li>Schema Design , Dimensional Data Modeling</li>
              <li>Development using SQL , PL/SQL, Python</li>
              <li>SQL tuning and working on performance issues</li>
              <li>Integrating tasks with other modules like IBY (Payment), CE (Cash Management). </li>
              <li>Point of Contact for 11i to R12 Upgrade issues.</li>
            </ul>
          </div>
          <div class="compProjects">
            <h4 class="projectHeader">
              Projects:
            </h4>
            <h5>Handling New Releases/Working on Code issue/bugs.</h5>
            <p>
            I have experience working on various new RUP, CPC, and Branch releases related to AR. The main responsibility in
                these projects was to assess the importance of bugs and enhancements based on factors such as criticality,
                customer demand, and functional scope, and to decide which ones should be included in the next release.
                Another critical task was to manage all dependencies across the product and ensure that no technical or
                functional dependencies were missed. These tasks would typically take place 1-2 months before each new release.
            </p>
            <h5>Import and Match Remittance Lines
            </h5>
            <p>
              I developed new concurrent program called "Import and Match Remittance Lines" has the ability to import remittance lines into a newly created
                interface table and link each remittance line to the corresponding receipt. Any remittance lines that match with receipts will be associated with
                them and available for automatic or manual application to invoices. The output of the program is presented as a BI Publisher report,
                which provides information about the number of matched and unmatched remittance lines, as well as the number of imported remittance lines
                that were rejected based on validation criteria.
            </p>
            <h5>
              Automatic Cash Application Enhancement
            </h5>
            <p>
              “ Knap sacking “
             The Smart Receipts program has been improved to incorporate knapsack functionality, allowing the system to identify potential transactions that can be matched to remittance lines lacking reference values in the lockbox remittance detail records. The Smart Receipts automatic matching rules are used to facilitate this process. Additionally, the program has been upgraded to use knapsack with the receipt amount in cases where there are no remittance lines in the lockbox detail records, and therefore no reference values available for matching transactions. The implementation of this program is expected to reduce manual efforts by 90%, enabling users to import millions of transactions with minimal manual intervention.
            </p>
          </div>
        </div>

          <div class="compName">
            <h3>Synova Innovative Tech. P.V.T Sep 2011- Dec2012</h3>
          </div>

        <div class="experiences">
          <div class="desRole">
            <p>Designation – Software Engineer <br />
              Role- Lead / Techno Functional Engineer / Business Analyst
            </p>
          </div>

          <div class="resp">
            <h4 class="respHeader">
              Responsibility:
            </h4>
            <ul>
              <li>
                Team Lead, allocation of work and manage resources
              </li>
              <li>
                Creating Design Document as per the code analysis from Legacy system (Oracle Forms)
              </li>
              <li>
                Resolving technical issues of the team members.
              </li>
              <li>
                Designing & Creating Database objects like stored procedure, trigger, cursors, view, and synonym.
              </li>
              <li>
                Maintain database.
              </li>
            </ul>
          </div>
          <div class="compProjects">
            <h4 class="projectHeader">
              Projects:
            </h4>
            <h5>
              Development of Application for BWI (Best Western International)
            </h5>
            <ul>
              <li>
                Changed the Application layer using Java from Oracle Forms keeping same Backend database
                Migrated the business layer codes to Database packages. I worked end to end product development till
                delivery.
              </li>
            </ul>
          </div>
        </div>

          <div class="compName">
            <h3>Nucleus Software Export L.T.D Aug 2010- Sep 2011</h3>
          </div>


        <div class="experiences">
          <div class="desRole">
            <p>Designation – Software Engineer <br />
              Role- Technical Consultant
            </p>
          </div>

          <div class="resp">
            <h4 class="respHeader">
              Responsibility:
            </h4>
            <ul>
              <li>
                Development /Enhancement according to UD.
              </li>
              <li>
                Follow up in UAT (Client Interaction)-GAP analysis
              </li>
              <li>
                Requirement gathering and UD preparation
              </li>
              <li>
                Worked on complex issues as Technical Consultant and helped customer for customizations in Oracle
                reports
              </li>
            </ul>
          </div>
          <div class="compProjects">
            <h4 class="projectHeader">
              Projects:
            </h4>
            <h5>
              Check Bounce Facility for Banks
            </h5>
            <ul>
              <li>
                Developed the feature for validate the Bounced Post Dated Checks.
              </li>
              <li>
                Bug Fixes in Forms & Oracle Reports.
              </li>
            </ul>
          </div>
        </div>

          <div class="compName">
            <h3>Exilant Technologies Aug 2009- Aug2010
            </h3>
          </div>

        <div class="experiences">
          <div class="desRole">
            <p>Designation – Software Engineer <br />
              Role- Technical Consultant
            </p>
          </div>

          <div class="resp">
            <h4 class="respHeader">
              Responsibility:
            </h4>
            <ul>
              <li>Creating and Manipulating Database schema Object like Tables, Table space, Users, synonyms, views etc.
              </li>
              <li>
                Working with multiple Functional teams of Indian railways and gather the requirement/data.
              </li>
              <li> Migration of data from legacy developed in COBOL
              </li>
              <li>
                Worked with higher management and developed Financial audit reports.
              </li>
            </ul>
          </div>
          <div class="compProjects">
            <h4 class="projectHeader">
              Projects:
            </h4>
            <h5>
              Implementation of ERP Application PRIME & AFRES For Indian Railways Guwahati
            </h5>
            <ul>
              <li>
                Worked at client location in the office of Indian Railways.
                Gathered the requirement from functional users, implemented Application software from scratch to end.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <h2 class="footer-heading">Reach Me on Socials @ </h2>
    <ul class="footer-lists">
      <li><a href="https://www.linkedin.com/in/abhishek-kumar-39546416/" target="_blank"><i class="fab fa-linkedin"></i></a>
      </li>
      <li><a href="https://www.instagram.com/abhishek.aakash/" target="_blank"><i class="fab fa-instagram"></i></a> </li>
      <li><a href="https://twitter.com/abhishekaakash" target="_blank"><i class="fab fa-twitter"></i></a> </li>
    </ul>
    <p><a href="https://github.com/abhishekaakash" target="_blank"> &copy; 2023 Copyright by Abhishek Kumar </a>
    </p>
  </footer>
</main>
</body>
</html>