<!DOCTYPE html>
<html lang="en">

<head>
  <title>Abhishek Kumar</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <!--    Used  Favicon-->
  <link rel="shortcut icon" href="static/pics/abhi_logo.png" type="image/x-icon">
  <script src="https://kit.fontawesome.com/bd078e8e74.js" crossorigin="anonymous"></script>


  <!--    Used  CSS -->
  <link href="static/css/main.css" rel="stylesheet">



</head>

<body>


  <nav class="body_container body_container_ nav navbar">
    <div>
      <ul class="nav-items">
        <li><a href="#" class="nav active-link">Home</a></li>
        <li><a href="read_me.html">Read Me</a></li>
        <li><a href="meatType_prediction.html">Meat App</a></li>
        <li><a href="cv.html">My CV</a></li>
      </ul>
    </div>
  </nav>

  <main>
    <header>
      
      <img src="../static/pics/Abhishek.jfif" alt="" class="profileImage">
      
      
      <h1><strong>Abhishek Kumar</strong></h1>
      <blockquote>
        <q>
          <i>
            I am a Computer Science Engineer with more than 13 years of experience in Oracle Technologies like Oracle
            Database, Java, Apex, and EBusiness Suite/Oracle Apps. I am pursuing a Master's in Data Science from Eastern
            University since Oct-2020 along with the current job role - Sr. Site Reliability Engineer at Oracle America
            Inc.
          </i>
        </q>
      </blockquote>
      <blockquote>
        <q>
          <i>
            I reside in Orlando, Florida with my wife Rishu Singh. When I'm not focused on technical work, I enjoy
            spending time with loved ones and volunteering at community events. Additionally, I have a passion for food
            and enjoy cooking during my free time.
          </i>
        </q>
      </blockquote>
    </header>

    
      <div class="body_container body_container_">
        <h1 class="primaryHeading">About Me </h1>
        <div class="education_style">
          <h2 class="secondaryHeading"><span class="highlightBox">Education</span></h2>
          <p class="collegeName">Eastern University</p>
          <p class="courseName">Master's in Data Science - (Pursuing 3.95/4*)</p>
          <p class="collegeName">KUMAON ENG. COLLEGE </p>
          <p class="courseName">B.E Computer Science (2009) - GPA: 3.85/4</p>
        </div>
        <hr />
        <div class="education_style">
          <h2 class="secondaryHeading"><span class="highlightBox">Additional Skills</span></h2>
          <p class="skillName">
            Python, Tableau, R, SQL, PL/SQL, Oracle Forms/Reports, Oracle E-business Suite
          </p>
        </div>
        <hr />
        <div class="education_style">
          <h2 class="secondaryHeading"><span class="highlightBox">Certifications</span></h2>
          <p class="certificateName">
            Oracle Cloud Infrastructure <br /> Oracle Autonomous Database <br /> Oracle 11g
            Database
          </p>
          <div class="skillbadge">
            <img src="static/pics/03_Oracle_Cloud_Infrastructure_Foundations_Associate.png" alt="" class="badge">
            <img src="static/pics/Oracle-Certification-badge_OC-Specialist.png" alt="" class="badge">
            <img src="static/pics/sql.png" alt="badge1" class="badge">
            <img src="static/pics/python.png" alt="badge2" class="badge">
          </div>
        </div>
      </div>

  </main>


  <footer>
    <h2 class="footer-heading">Reach Me on Socials @ </h2>
    <ul class="footer-lists">
       <li><a href="https://www.linkedin.com/in/abhishek-kumar-39546416/"><i class="fab fa-linkedin"></i></a>
       </li>
       <li><a href="https://www.instagram.com/abhishek.aakash/"><i class="fab fa-instagram"></i></a> </li>
       <li><a href="https://twitter.com/abhishekaakash"><i class="fab fa-twitter"></i></a> </li>
    </ul>
    <p><a href="https://github.com/abhishekaakash"> &copy; 2023 Copyright by Abhishek Kumar </a>
    </p>
 </footer>
</main>
</body>
</html>